.main{
    padding: 0px;
    margin: 0px;
    width: 100%



}
h1{
    text-align: center;
    color:blue;
    margin-left: 100px;

}
button{
    border-radius: 12px;
    margin-top: 20px;
    align-items:center ;
}